{% extends 'password_manager/base.html' %}

{% block page_header %}
    <h2 class="h2">Your Credentials</h2>
{% endblock page_header %}

{% block content %}
<ul class="list-group border-bottom pb-2 mb-4">
    {% for credential in credentials %}
    <li class="list-group-item border-0">
        Site: {{ credential.site_name }} <br>
        Username: {{ credential.username }}
        <a href="{% url 'password_manager:view_credential' credential.id %}">View Details</a>
    </li>
    {% empty %}
    <li class="list-group-item border-0">No credentials stored.</li>
    {% endfor %}
</ul>

<a href="{% url 'password_manager:new_credential' %}">Add New Credential</a>

{% endblock content %}