{% extends 'password_manager/base.html' %}

{% block content %}
<p>Credentials</p>
<p>Here are your stored credentials:</p>
<ul>
    {% for credential in credentials %}
    <li>
        Site: {{ credential.site_name }} <br>
        Username: {{ credential.username }}
        <a href="{% url 'password_manager:view_credential' credential.id %}">View Details</a>
    </li>
    {% empty %}
    <li>No credentials stored.</li>
    {% endfor %}
</ul>

<a href="{% url 'password_manager:new_credential' %}">Add New Credential</a>

{% endblock content %}