{% extends "password_manager/base.html" %}
{% block page_header %}
    <h2 class="h2">Delete Credential</h2>
{% endblock page_header %}

{% block content %}
{% load static %}
<div class="container bg-light mb-2 p-4 rounded-1 shadow-sm">
    <div class="alert alert-warning" role="alert">
        <strong>⚠️ Warning:</strong> You are about to delete the following credential. This action cannot be undone.
    </div>

    <ul>
        <li>Site: {{ credential.site_name }}</li>
        <li>Username: {{ credential.username }}</li>
    </ul>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger m-1">Confirm Deletion</button>
    </form>

    <a href="{% url 'password_manager:credential' %}" class="btn btn-secondary m-1">Cancel</a>
{% endblock content %}