{% extends "password_manager/base.html" %}
{% block page_header%}
<h2 class="h2">Edit Credential</h2>
{% endblock page_header %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <div class="alert alert-info" role="alert">
            <strong>Info:</strong> You are editing the credential for
            <strong>{{ credential.account_name }}</strong>.
          </div>
          <hr class="mb-4" />
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="button" class="btn btn-primary m-1" id="toggle_password" type="button">Show Password</button>
            <button type="submit" class="btn btn-success m-1">Save Changes</button>
            <button type="button" class="btn btn-warning m-1" onclick="location.href='{% url 'password_manager:view_credential' credential.id %}'">Cancel</button>
    </form>
        </div>
      </div>
    </div>
  </div>

    <script src="{% static 'accounts/script_utils.js' %}"></script>
</div>
{% endblock content %}

