{% extends "password_manager/base.html" %}
{% block page_header%}
<h2 class="h2">Edit Credential</h2>
{% endblock page_header %}
{% block content %}
{% load static %}

<div class="container bg-light mb-2 p-4 rounded-1 shadow-sm">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="button" class="btn btn-primary m-1" id="toggle_password" type="button">Show Password</button>
            <button type="submit" class="btn btn-success m-1">Save Changes</button>
            <button type="button" class="btn btn-warning m-1" onclick="location.href='{% url 'password_manager:view_credential' credential.id %}'">Cancel</button>
    </form>

    <script src="{% static 'accounts/script_utils.js' %}"></script>
    </div
{% endblock content %}

