{% extends "password_manager/base.html" %}


{% block content %}
{% load static %}
    <p>Edit Credential:</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <button id="toggle_password" type="button">Show Password</button>
            
        <button type="submit">Save Changes</button>
        <a href="{% url 'password_manager:view_credential' credential.id %}">Cancel</a>
    </form>

    <a href="{% url 'password_manager:credential' %}">Back to Credentials</a>

    <script src="{% static 'accounts/script_utils.js' %}"></script>

{% endblock content %}

