{% extends 'password_manager/base.html' %}
{% block page_header %}
    <h2 class="h2">Add New Credential</h2>
{% endblock page_header %}

{% block content %}
<div class="container bg-light mb-2 p-3 rounded-1 shadow-sm">
    <form action="{% url 'password_manager:new_credential' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
         </form>
        <button class="btn btn-primary m-1" name="submit">Add Credential</button>
        <button type="button" class="btn btn-warning m-1" onclick="location.href='{% url 'password_manager:credential' %}'">Cancel</button>
{% endblock content %}