{% extends "password_manager/base.html" %}

{% block content %}
    <p> Credential Details:</p>

    <ul>
        <li>Site: {{ credential.site_name }}</li>
        <li>Username: {{ credential.username }}</li>
        <li>Password: {{ decrypted_password }}</li>
    </ul>

    <a href="{% url 'password_manager:edit_credential' credential.id %}">Edit Credential</a> -
    <a href="{% url 'password_manager:delete_credential' credential.id %}">Delete Credential</a>
    <br>
    <a href="{% url 'password_manager:credential' %}">Back to Credentials</a>
{% endblock content %}