{% extends "password_manager/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2 class="h2">Credential Details</h2>
{% endblock page_header %}

{% block content %}

    <ul>
        <li>Site: {{ credential.site_name }}</li>
        <li>Username: {{ credential.username }}</li>
        <li>Password:
            <input type="password" id="password" value="{{ decrypted_password }}" readonly>
            {% bootstrap_button button_type="button" content="Show Password" id="toggleButton" onclick="togglePassword()" %}
            {% bootstrap_button button_type="button" content="Copy to Clipboard" onclick="copyToClipboard()" %}
        </li>
    </ul>

    <a href="{% url 'password_manager:edit_credential' credential.id %}">Edit Credential</a> -
    <a href="{% url 'password_manager:delete_credential' credential.id %}">Delete Credential</a>
    <br>
    <a href="{% url 'password_manager:credential' %}">Back to Credentials</a>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const toggleButton = document.getElementById('toggleButton');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleButton.textContent = 'Hide Password';
            } else {
                passwordField.type = 'password';
                toggleButton.textContent = 'Show Password';
            }
        }
        function copyToClipboard() {
            const passwordField = document.getElementById('password');
            navigator.clipboard.writeText(passwordField.value).then(() => {
                alert('Password copied to clipboard');
            });
        }
    </script>
{% endblock content %}