{% block content %}
    <p>Hello {{ user.get_username }},</p>
    <p>You're receiving this email because you requested a password reset.</p>
    <p>Warning: Resetting your password will reset your account and result in the loss of all stored credentials.</p>
    <p>Please click the link below to reset your account:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:recover_account_confirm' uidb64=uid token=token %}">Reset Account</a></p>
    <p>If you didn't request a password reset, please ignore this email.</p>
{% endblock %}