{% extends "password_manager/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <h3>Reset Your Password:</h3>
    <div class="alert alert-warning" role="alert">
      <strong>⚠️ Warning:</strong> Resetting your password will reset your account and permanently delete all stored credentials. This action cannot be undone.
    </div>
    <div class="alert alert-info"
    <p>Please enter your email address below, and we will send you a link to reset your password.</p>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="alert alert-danger" role="alert">
        <input type="checkbox" id="reset_warning" required>
        <label for="reset_warning">I understand that reseting my password will reset my account and result in the loss of all stored credentials</label>
        <br>
        </div>
        <button type="submit" class="btn btn-danger">Send Reset Link</button>

    </form>

    {% endblock content %}
