{% extends "password_manager/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <h3>Reset Your Password:</h3>
    <p>Warning: Due to how your credentials are encrypted, reseting your password will reset the accout, this will result in the loss of all stored credentials</p>
    <p>Please enter your email address below, and we will send you a link to reset your password.</p>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="checkbox" id="reset_warning" required>
        <label for="reset_warning">I understand that reseting my password will reset my account and result in the loss of all stored credentials</label>
        <br>
        <button type="submit">Send Reset Link</button>
    </form>

    {% endblock content %}
