{% extends "password_manager/base.html" %} {% load django_bootstrap5 %} 
{% block page_header %}
<h2 class="h2">Password reset complete</h2>
<hr />
{% endblock page_header %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <div class="alert alert-info" role="alert">
            <strong>Info:</strong> Your password has been successfully reset.
            <p>You may now log in with your new password.</p>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            aria-label="Return to Login"
            onclick="location.href='{% url 'accounts:login' %}'"
          >
            Return to Login
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
