{% extends "password_manager/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
    <h2 class="h2">Password Reset</h2>
    <hr>
{% endblock page_header %}
{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="bg-light mb-3 p-4 rounded-1 shadow-sm">
    <div class="alert alert-info" role="alert">
        <strong>Info:</strong> You have requested to reset your password.
        <p>A reset link has been sent</p>
        <p>Please check your email and follow the instructions to reset your password.</p>
        <p>The link will expire in 15 minutes.</p>
    </div>
    <button type="button" class="btn btn-primary" aria-label="Return to Login" onclick="location.href='{% url 'accounts:login' %}'">Return to Login</button>
    </div>
    </div>
    </div>
    </div>
    
{% endblock content %}